@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "MainTheme";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(93% 0 0);
  --color-base-300: oklch(86% 0 0);
  --color-base-content: oklch(35.519% 0.032 262.988);
  --color-primary: #1f3a93;
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: #a0a0a0;
  --color-secondary-content: oklch(37% 0.013 285.805);
  --color-accent: #008080;
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: #f5f5f5;
  --color-neutral-content: oklch(44% 0.017 285.786);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(98% 0.003 247.858);
  --color-success: oklch(52% 0.154 150.069);
  --color-success-content: oklch(98% 0.003 247.858);
  --color-warning: oklch(55% 0.135 66.442);
  --color-warning-content: oklch(98% 0.003 247.858);
  --color-error: #dc3545;
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

.card {
  border-width: 1px;
  border-color: var(--color-base-300);
}

.badge {
  border-radius: 0.5rem;
}

.btn {
  transition: all;
  transition-duration: 300ms;
}

.btn:hover {
  opacity: 85%;
}
